#FoodHolder{
  background-image: linear-gradient(
    to right bottom,
    rgba(62, 29, 139, 0.664),
    rgba(228, 2, 2, 0.815)
    ),
    url('/Media/Rainbow\ Bridge.jpg');
    background-size: cover;
    background-position: center;
}