#FoodHolder{

     background: linear-gradient(
        to left bottom,
      rgb(223, 22, 22),
      rgb(4, 202, 153)
        ),
        url('/Media/Rainbow\ Bridge.jpg');
        background-size: cover;
        background-position: center;
}