@import "./setup";
@import "./color";

.holder{
  background-image: linear-gradient(
    to right bottom,
    color(see),
    color(rose)
  ),
  url("Media/Cherry\ Blossom\ GIF.gif");
  background-size: cover;
  background-position: center;
  height: 200rem;
  position: relative;


}