$colors: (
    firstcolor: #001aff62,
    secondcolor: #af0bd8,
    sooshi: #04e9e9,
    snakejazz: #e02a0a7c,
    north: #e98b1186
);
@function color($color-name) {
    @return map-get($colors, $color-name);
}