@import "./setup";
@import "./colors";

.holder{
  background-image: linear-gradient(
    to right bottom,
    color(firstcolor),
    color(secondcolor)
  ),
  url("Media/Bridge.jpg");
  background-size: cover;
  background-position: center;
  height: 100rem;
}