@import "./setup";
@import "./colors";

.holder{
  background-color: color(secondcolor);
  background-image: url("Media/Bridge.jpg");
  background-size: cover;
  background-position: center;
  height: 1000px;
}