@import "./setup";
@import "./colors";

.holder{
  background-image: linear-gradient(
    to right bottom,
    color(snakejazz),
    color(north)
  ),
  url("Media/Japanese\ Background.jpg");
  background-size: cover;
  background-position: center;
  height: 200rem;

  position: relative;


}