@import "./background.scss";

#head {
    font-size: 10rem;
    display: flex;
    justify-content: center;
}
.description {
    display: flex;
    justify-content: center;
    font-size: 3rem;
}

.description:hover {
    font-style: italic;
    color: color(firstcolor);
    filter: drop-shadow(2rem, 2rem, 2rem, rgba(0, 0, 0, 0.842) );
}

.first {
    width: 30rem;
    height: 30rem;
}

.second {
    width: 30rem;
    height: 30rem;
}
.third {
    width: 30rem;
    height: 30rem;
}
.column {
    display: flex;
    justify-content: space-around;
    align-items: center;

    

}
